# ---------------- Python ----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# ---------------- Virtual Environments ----------------
venv/
env/
.venv/
ENV/

# ---------------- Jupyter Notebook ----------------

# ---------------- OS / Editor ----------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---------------- Data Files ----------------
# data/raw/
data/processed/

# If you want to keep folder but ignore files
# data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ---------------- Logs ----------------
*.log

# ---------------- Environment Variables ----------------
.env

# ---------------- Outputs ----------------
*.csv
*.xlsx
*.parquet
*.pkl

# ---------------- Model Files ----------------
models/
*.joblib
*.h5

# ---------------- Temporary ----------------
tmp/
